Repository bl33d/Otus-DevOps-08-2020-Project-Work, pull requests merged in 2021-01, with the labels that each got.

#16 App cd
  app/ansible/ansible.cfg
  app/ansible/environments/prod/group_vars/all.yml
  app/ansible/environments/prod/group_vars/app_hosts.yml
  app/ansible/playbooks/app.yml
  app/ansible/playbooks/site.yml
  app/src/docker-compose.yml
  app/src/search_engine_crawler/Dockerfile
  app/src/search_engine_ui/Dockerfile
  app/terraform/backend.tf
  app/terraform/backend.tf.example
  app/terraform/output.tf
  app/terraform/terraform.tfvars
Labels: ansible, app

#20 feat: add gitlab-ci monitoring
  infra/ansible/playbooks/monitoring.yml
  infra/ansible/roles/gitlab-ci/tasks/main.yml
  infra/ansible/roles/gitlab-ci/tasks/node_exporter.yml
  infra/ansible/templates/prometheus.yml.j2
Labels: infra, monitoring

#22 feat: add app-host monitoring
  app/ansible/environments/prod/group_vars/all.yml
  app/ansible/files/grafana-app-crawler.json
  app/src/docker-compose.yml
Labels: app, monitoring

#29 fix: change yc instance memory
  infra/terraform/main.tf
Labels: bug, infra
